/******************************************************************************
TIP: Gallery theme displays your links with background images from settings.json

Edit / copy or create your own CSS file in public/styles/themes
Select your chosen CSS by adding the theme name (e.g. gallery) in settings.json
******************************************************************************/

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap");

:root {
  --avatar-max-width: 160px;
  --color-bg: #4d8e68;
  --color-bg-alt: #d7f5ef;
  --color-text-main: #f0efec;
  --color-primary: #e11919;
  --color-secondary: #1E0909;
  --glitch-gray-5: #4f4f4f;
  --glitch-gray-4: #828282;
  --glitch-gray-3: #bdbdbd;
  --bio-color: #b2f6a1;
  --game-bio-color: #b2f6a1;
}

.wrapper {
  background: var(--color-bg);
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.info{
  display: grid;
  align-items: center;
}

.avatar {
  max-width: var(--avatar-max-width);
  max-height: var(--avatar-max-width);
  border-radius: 35%;
  margin-right: 40px;
}

.about {
  text-align:center;
  padding-bottom: 20px;
}

img{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}

p.game-bio{
  text-align:left;
  font-family: "Segoe UI";
  color: var(--game-bio-color);
}

h3.game-bio{
  text-align: left;
  color: #000000;
}

a.game-bio:link{
  color: #000000;
  text-align: left;
  transition: .5s ease;
}



a.game-bio:hover
{
  opacity: .3;
}

ul.text-link-list{
  display:grid;
  grid-template-columns: 1.2fr 1fr;
  list-style-type: "➤";
  position: left;
  text-align: left;
  opacity: 1;
  font-size: 1.5em;
  transition: .4 ease;
}

ul.text-link-list :hover span {
  opacity: .3;
}


body {
  text-align: center;
  /* background-color: var(--color-secondary); */
  background: var(--color-bg);
}

/*Header*/
h1 {
  font-family: "Arial Black", sans-serif;
  font-size: 1.7rem;
  position: center;
  color: #ffffff;
  text-shadow: 2px 4px #000000;
}

h3 {
  font-family: "Tahoma", sans-serif;
  position: center;
  color: var(--bio-color);
}

.content {
  margin: 0 auto;
  max-width: 600px;
}


h1.link-list{
  text-align:center;
  line-height: normal;
}

h3.link-list{
  font-family: "Arial", sans-serif;
  text-align:center;
}


ul.link-list {
  display: grid;
  grid-gap: 10px;
}
@media (min-width: 400px) {
  ul.link-list {
    /*Define our columns */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

ul.link-list li {
  position: left;
  min-height: 200px;
  border-radius: 2%;
  overflow: hidden;
  margin: 0;
  /* font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace; */
  font-size: 1em;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
}
ul.link-list a {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-weight: bold;
  color: #ffffff;
}
ul.link-list a span {
  transition: .5s ease;
  position: center;
  opacity: 0;
  width: 100%;
  z-index: 1;
}
ul.link-list a:hover span,
ul.link-list a:focus span {
  opacity: 1;
  transform: scale(1.5);
}
/* Add urls for any images you want to display in settings.json for each link */
ul.link-list a img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s ease;
  z-index: 0;
  overflow: hidden;
}
ul.link-list a:hover img,
ul.link-list a:focus img {
  border-radius: 15%;
  opacity: 0.3;
  transform: scale(1.05);
}
ul.link-list a:link,
ul.link-list a:visited {
  border-radius: 8%;
  border: solid;
}

.footer{
  border-top: 2px dotted #ffffff;
  font-family: "Segoe UI";
  font-size: 1em;
  color: #ffffff;
}
