/******************************************************************************
TIP: This is the default style sheet for the site

- Your selected theme will also affect how the page appears
- Themes are in the /themes folder
- Select a theme in settings.json as the `theme` property
******************************************************************************/

/******************************************************************************
START Page structure and element resets
******************************************************************************/

/* A set of default style */
:root {
  /* Generic sizing for the page */
  --wrapper-height: 80vh;
  --avatar-max-width: 140px;

  /* Fonts for different elements */
  --font-family: sans-serif;
  --font-family-header: sans-serif;
  --font-family-list: monospace;

  /* Colors you'll see cascade through the elements */

  /* To set your own use custom-theme.css with `custom-theme` in settings.json `theme` property */
  --color-bg: #BDBDBD; /* Used for the page body background */
  --color-bg-alt: #FFFFFF; /* Used for social icons on hover */
  --color-text-main: #000000; /* List text ann social icons on hover */
  --color-primary: #FFFFFF; /* Headers and borders */

  /* These are some Glitch colors you are welcome to use! */
  --glitch-blue: #2800FF;
  --glitch-blue-light: #5A78FF;
  --glitch-pink: #FF7698;
  --glitch-pink-light: #FEC1EE;
  --glitch-green: #05F293;
  --glitch-green-light: #9BE7D8;
  --glitch-yellow: #FFFF60;
  --glitch-purple: #9480FF;
}

/* Basic page style resets */
*{
  box-sizing: border-box;
}

/* Page structure */
body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-header);
  font-weight: bold;
  color: var(--color-text-main);
}

h1 {
  color: var(--color-primary);
}

/* Link styles */
a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  text-decoration: none;
  transition: 0.6s ease;
}
a:hover, a:active, a:focus {
  color: #000000;
}
/******************************************************************************
END Page structure and element resets
******************************************************************************/

/******************************************************************************
START Glitch in Bio default theme

You can create your own CSS file in public/styles/themes
Select your chosen CSS by adding the theme name (e.g. glitch) in settings.json
******************************************************************************/

/* Image specified in settings.json avatarImage property */


/* Link list content specified in settings.json links array */
ul.link-list {
  margin: 0.5em 0 2.5rem;
  padding-left: 0px;
}
ul.link-list {
  font-family: var(--font-family-list);
  font-weight: 100;
  list-style: none;
  clear: both;
  width: 100%;
  min-width: 100%;
  text-align: center;
}
ul.link-list a {
  min-width: 100%;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
ul.link-list a:link,
ul.link-list a:visited {
  text-align: center;
  border: 2px solid var(--color-primary);
  padding: 1.5rem;
  position: relative;
}
ul.link-list a img {
  z-index: 1;
  aspect-ratio: 1 / 1;
  height: 3em;
  object-fit: cover;
  overflow: hidden;
}
ul.link-list a span {
  z-index: 2;
  padding-left: 1rem;
  padding-right: 1rem;
}

.postcard-holder{
  justify-items: center;
}

img.postcard {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.itch-wrap {
  position: relative;
}

/* iframe.itch-box{
  width: 100%;
  height: 100%;
} */

/* Social media icons */
/* Page will display all icons that have a value in settings.json social object */
.social-icons {
  justify-content: center;
}
.social-icons a:link {
  border-bottom: none;
  background: transparent;
  width: 8rem;
  height: 3rem;
  margin: 0 0.5rem 1.5rem;
}
.social-profile-icon {
  width: 2.75rem;
  margin-bottom: 1rem;
  display: inline-flex;
}
/* Image paths specified in layout/social.html */
.social-profile-icon path {
  fill: var(--color-bg-alt);
}
.social-profile-icon:hover path, .social-profile-icon:focus path {
  fill: var(--color-text-main);
}

/******************************************************************************
END Glitch in Bio default theme
******************************************************************************/
